.navbar-container{
    box-shadow: 0 0 1px var(--clr-gray);
    /* background-color: antiquewhite; */
    font-family: var(--font-Poppins);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin-bottom: 8px;
}
.navbar-logo{
    font-size: 20px;
    font-weight: 700;
}
.navbar-container ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.navbar-li{
    padding: 5px 10px;
}
.navbar-li.active a{
    color: var(--clr-orange);
    font-size: 16px;
    font-weight: 600;
}
.navbar-li a i{
    padding: 0 5px;
}

.navbar-bar{
    display: flex;
    font-size: 25px;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    width: 100px;
    height: 35px;
    background-color: var(--clr-dark);
    border: 1px solid var(--clr-gray);
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.navbar-bar button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-light);
    z-index: 10;
    height: 100%;
    cursor: pointer;
}
.navbar-bar::before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: var(--clr-orange);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateX(0);
    transition: 0.5s ease;
}
.navbar-bar.active::before{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(100%);
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .navbar-container{
        padding: 10px 2%;
    }
}
@media screen and (min-width:481px) and (max-width:700px) {
    .navbar-container{
        padding: 10px 2%;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
    }
    .navbar-logo{
        font-size: 1.15rem;
    }
    /* .navbar-container ul{
        display: none;
    } */
}
@media screen and (min-width:320px) and (max-width:480px) {
    .navbar-container{
        padding: 10px 15px;
        width: 100%;
        min-height: 70px;
    }
    .navbar-logo{
        font-size: 1.3rem;
    }
    .navbar-container ul{
        display: none;
    }
    .navbar-bar{
        display: flex;
    }
}

@media screen and (max-width:320px){
    .navbar-container{
        padding: 10px 15px;
        width: 100%;
    }
    .navbar-logo{
        font-size: 1.15rem;
    }
    .navbar-container ul{
        display: none;
    }
    .navbar-bar{
        display: flex;
    }

}