@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --font-Inter: 'Inter', sans-serif;
  --font-Mons: 'Montserrat', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;

  --clr-dark:rgb(38, 38, 38);
  --clr-black:rgb(11, 11, 11);
  --clr-light:rgb(255, 255, 255);
  --clr-gray: rgb(128, 128, 128);
  --clr-danger:rgb(250, 21, 21);
  --clr-orange:rgb(255, 123, 0);
}


body {
  font-family: var(--font-Roboto);
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

a{
  text-decoration: none;
  color: var(--clr-light);
}